.home {
 
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
  box-sizing: border-box;
  direction: rtl;
}

.home a {
  text-decoration: none;

}


 
 .content{
   background-color: white;  max-width: 1000px;
 }

 
 

/* .Cardss {
  display: flex;
  -ms-overflow-style: none;
  scrollbar-width: none;
  gap: 15px;
  overflow: auto;
  scroll-snap-type: x mandatory;
  direction: rtl;
  position: relative;
}

.Cardss img {
  width: 60px;
  height: 60px;
  margin-top: 30px;
  margin-bottom: 20px;


}

.Cardss a {

  width: 100px;
  height: 150px;
  text-decoration: none;
  border-radius: 10px;
  text-align: center;

}

.d1 h6 {
  margin-right: 35px;
}

.d2 h6 {
  margin-right: 35px;
}

.d3 h6 {
  margin-right: 35px;
}

.d1 {
  background-color: rgb(154, 238, 147);
}

.d2 {
  background-color: rgb(18, 217, 228);
}

.d3 {
  background-color: rgb(237, 167, 97);
}

.section p {

  font-weight: bold;
  color: #003F7D;
  font-size: larger;
  margin-bottom: -12px;
} */
.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 20px;
}

/* Create four equal columns that floats next to each other */
.col {
 float: left;
  width: 25%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
 
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .col {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .col {
    width: 50%;
  }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 300px) {
  .col {
    width: 100%;
  }
}