 .home {
   background-color: white;
 }

 .content {

   padding: 40px 12px 70px 12px;
 }

 .navbar {
   list-style-type: none;
   margin: auto;
   display: flex;

   padding: 10px 0 10px 0;
   position: -webkit-sticky;
   /* Safari */
   position: sticky;
   z-index: 2;
   top: 58px;
   background-color: white;
 }

 .navbar li {
   width: 100%;
 }

 .navbar li a {
   background-color: #00a0b121;
   color: #00A0B1;
   ;
   text-decoration: none;
   border-radius: 8px;
   padding: 5px;
   font-size: xx-small;
   padding: 2px 6px;
 }

 .navbar li a:hover {
   background-color: #ccc;
 }

 .active {
   color: #00A0B1;
 }

 .navbar a:active {
   color: #00A0B1;
 }










 .section {
   margin-top: 30px;
 }


 .Cards::-webkit-scrollbar {
   display: none;
 }

 .Cards {
   display: flex;

   -ms-overflow-style: none;
   scrollbar-width: none;
   gap: 10px;
   overflow: auto;
   scroll-snap-type: x mandatory;
   direction: rtl;
   position: relative;

 }



 .home a {
   text-decoration: none;

 }






 .section p {

   font-weight: bold;
   color: #00A0B1;
   font-size: larger;
   margin-bottom: -14px;
 }